.section_title {
    position: relative;
}

.section_title h1 {
    font-size: 80px;
    font-weight: 600;
    padding: 0px 30px;
}

.section_title img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 600px) {
    .section_title h1 {
        font-size: 50px;
    }

    .section_title img {
        max-width: 180px;
    }
}