:where(.hero_section, .hero_section .action) {
    display: flex;
    align-items: center;
}

.hero_section {
    flex-direction: column;
    gap: 35px;
}

.hero_section img {
    margin-top: 100px;
}

.hero_section h1 {
    font-size: 90px;
    width: 80%;
    text-align: center;
    font-weight: 600;
}

.hero_section h1>span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_section p {
    width: 60%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero_section .action {
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero_section :where(.connect, .resume) {
    border-radius: 50px;
    cursor: pointer;
}

.hero_section .connect {
    padding: 15px 45px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 100%);
}

.hero_section .resume {
    padding: 15px 75px;
    border: 2px solid #fff;
}

.hero_section .connect:hover {
    border: 2px solid #FFF;
}

.hero_section .resume:hover {
    border-color: #B415FF;
}