:where(header, header ul) {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 20px 0;
}

header ul {
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

header .connect {
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #8923E1 100%);
    padding: 20px 40px;
    font-size: 22px;
    transition: 0.5s;
}

header .connect:hover {
    transform: scale(1.05);
}

header ul li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

header ul li img {
    display: flex;
    margin: auto;
}

header .anchor_link {
    text-decoration: none;
    color: #fff;
}

header img[alt="menu icon"] {
    display: none;
}

img.close-icon {
    display: none;
}

@media (max-width: 786px) {
    header {
        padding: 20px 10px;
        align-items: center;
        position: fixed;
        background: #161513;
        width: 100%;
        z-index: 1;
    }

    header .connect {
        display: none;
    }

    header img[alt="menu icon"] {
        display: block;
        position: fixed;
        right: 15px;
    }

    header img.close-icon {
        display: block;
        position: relative;
        top: 30px;
        width: 30px;
        left: 290px;
    }

    header ul {
        position: fixed;
        top: 0;
        background: #1F0016;
        width: 350px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    header ul li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}