@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #161513;
  color: #fff;
  font-family: "Outfit", sans-serif;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  body {
    width: 100vw;
  }

  section {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}